[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com:kien/ctrlp.vim.git
[submodule "vim/bundle/vim-align"]
	path = vim/bundle/vim-align
	url = git://github.com:tsaleh/vim-align.git
[submodule "vim/bundle/vim-haskell"]
	path = vim/bundle/vim-haskell
	url = git://github.com/wlangstroth/vim-haskell.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-sleuth"]
	path = vim/bundle/vim-sleuth
	url = git://github.com/tpope/vim-sleuth.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com:tpope/vim-surround.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
